<app-admin-header></app-admin-header>
<app-admin-sidebar></app-admin-sidebar>
<div class="main-container">
    <div class="pd-ltr-20">
       
        <div class="row">
        </div>
        <button  (click)= OpenCreateDialog()  style="margin-bottom:10px;" mat-raised-button style="margin-bottom:10px;margin-left: 20px;background-color: #1E88E5;  color: white;">  
          <i class="material-icons">add_circle</i> &nbsp; Create New Course</button>
          <button  mat-raised-button style="margin-bottom:10px;" mat-raised-button style="margin-bottom:10px;margin-left: 20px;background-color: #1565C0;  color: white;"  routerLink="/admin/CourseDetails">
            <i class="material-icons">list</i> &nbsp;
            View Details
          </button>

        <div class="row">
            
           <!-- <div class="col-xl-8 mb-30" *ngFor="let course of _adminService.courses ">
                <div class="card-box height-100-p pd-20">
                    <h2 class="h4 mb-20">{{course.coursename}}</h2>
                    <div id="chart5"></div>
                    <section>
                        <div class="example-button-row" color="primary" >
                          <button mat-stroked-button color="primary"  (click)= OpenUpdateDialog(course)>Update Course</button>
                          <button mat-stroked-button color="primary"  (click)= OpenConfirmDialog(course.courseid)>Delete Course</button>
                        </div>
                      </section>
                   

                </div>
               
            </div>
          -->
            <div class="card" style="width: 23rem;margin-right: 10px;margin-bottom: 10px;margin-top: 50px;border: 1px solid #ddd; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); " *ngFor="let course of _adminService.courses ">

              <img *ngIf="course.imagepath" src="../../../assets/Image/{{course.imagepath}}" alt="{{ course.imagepath.substring(course.imagepath.lastIndexOf('/') + 1) }}"  style="max-width: 100% !important; border: 0 in !important; vertical-align: top !important; height: 59% !important;">

              <div class="card-body">
                <h3 class="card-title"  ><b style="font-size: larger;">{{course.coursename}}</b></h3>
                <section>
                  <div class="example-button-row" color="primary" >
                      <button mat-raised-button style="background-color: #1565C0;width: 150px; color: white;" (click)= OpenUpdateDialog(course)>
                        <i class="material-icons">edit</i>
                        Edit Course
                      </button>
                      <button  mat-raised-button style="background-color: #1E88E5;width: 170px;  color: white;" (click)=OpenConfirmDialog(course.courseid)>
                        <i class="material-icons">delete</i> &nbsp;
                        Delete Course
                      </button>
                    <!--<button mat-stroked-button color="primary" (click)= OpenUpdateDialog(course)>Update Course</button>
                    <button mat-stroked-button color="primary"  (click)= OpenConfirmDialog(course.courseid)>Delete Course</button>
                    --></div>
                </section>
              </div>
            </div>
       
        </div>
        
    </div>
</div>




<ng-template #CreateDialog>
    <form [formGroup]="CreateCourseForm">
        <div class="example-container">
            <mat-form-field>
              <mat-label>Enter Course Name</mat-label>
              <input matInput  placeholder="Course Name" formControlName="coursename" required>
              <mat-error *ngIf="CreateCourseForm.controls['coursename'].hasError('required')">Course Name is required</mat-error>
            </mat-form-field>
          </div>
<!-- 
          <div class="example-container">
            <mat-form-field>
              <mat-label>Enter Program Id</mat-label>
              <input matInput placeholder="Program Id" formControlName="programid" required>
              <mat-error *ngIf="CreateCourseForm.controls['programid'].hasError('required')">Program Id is required</mat-error>
            </mat-form-field>
          </div>
        -->
        <mat-form-field>
          <mat-label>Select Program Name</mat-label>
          <select matNativeControl required formControlName="programid" >
            <option *ngFor="let program of _adminService.programs" value={{program.programid}}>{{program.trackname}}</option>
          </select>
          <mat-error *ngIf="CreateCourseForm.controls['programid'].hasError('required')">Program Name is required</mat-error>
        </mat-form-field>
        


        <!--  <div class="example-container">
            <mat-form-field>
              <mat-label>Enter Start Date</mat-label>
              <input matInput   type="date" placeholder="Start Date" formControlName="startdate" required>
              <mat-error *ngIf="CreateCourseForm.controls['startdate'].hasError('required')">Start date is required</mat-error>
            </mat-form-field>
          </div>

          <div class="example-container">
            <mat-form-field>
              <mat-label>Enter End Date</mat-label>
              <input matInput  type="date" placeholder="End Date" formControlName="enddate" required>
              <mat-error *ngIf="CreateCourseForm.controls['enddate'].hasError('required')">End Date is required</mat-error>
            </mat-form-field>
          </div>-->



          <div class="example-container">
            <mat-form-field color="primary">
              <mat-label>Enter Start Date(MM/DD/YYYY)</mat-label>
              <input matInput [matDatepicker]="picker1" formControlName="startdate">
              <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1 color="primary"></mat-datepicker>
              <mat-error *ngIf="CreateCourseForm.controls['startdate'].hasError('required')">Start date is required</mat-error>
            </mat-form-field>
            </div>

            <div class="example-container">
            <mat-form-field color="primary">
              <mat-label>Enter End Date(MM/DD/YYYY)</mat-label>
              <input matInput [matDatepicker]="picker2"  formControlName="enddate">
              <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2 color="primary"></mat-datepicker>
              <mat-error *ngIf="CreateCourseForm.controls['enddate'].hasError('required')">End date is required</mat-error>
            </mat-form-field>
            </div>

       
         <!--<div class="example-container">
            <label  style="background-color: lightgray;" >Upload Image</label>
            <input type="file" (change)="UploadImages($event)"   style="margin-bottom: 20px;margin-left: 50px;">
          </div>-->

          <div class="example-container">
            <mat-form-field>
              <mat-label>Enter Number of sections</mat-label>
              <input matInput placeholder="Number of sections" formControlName="numberofsections" required>
              <mat-error *ngIf="CreateCourseForm.controls['numberofsections'].hasError('required')">Number of sections is required</mat-error>
            </mat-form-field>
          </div>

          <div class="example-container">
            <mat-form-field>
              <mat-label>Enter Prerequisite</mat-label>
              <input matInput placeholder="Prerequisite" formControlName="prerequisite" required>
              <mat-error *ngIf="CreateCourseForm.controls['prerequisite'].hasError('required')">Prerequisite is required</mat-error>
            </mat-form-field>
          </div>

          <div  class="example-container">
            <input class="form-control" type="file" id="formFile" formControlName="imagepath" (change)="UploadImages($event)" style="width: 425px;margin-left:30px;">
          </div>
          
<section>
<div class="example-button-row" >
<button style="margin-left: 150px;background-color: #1A237E;color:white" mat-stroked-button color="primary" mat-dialog-close  type="submit" value="Create" (click)= CreateCourse()>Create New Course</button>
</div>
</section>
    

    </form>
</ng-template>



<ng-template #ConfirmationDialog>
<h1 mat-dialog-title style="color:#1E88E5;">Delete Course</h1>
<div mat-dialog-content>
  Would you like to delete the course?
</div>
<div mat-dialog-actions class="justify-content-center" >
  <button mat-button mat-dialog-close="no" cdkFocusInitial>No</button>
  <button mat-button mat-dialog-close="yes"  style="background-color: #1E88E5;color: white;" >Yes</button>
</div>
</ng-template>


<ng-template #UpdateDialog>
    <form [formGroup]="UpdateCourseForm">
        <div class="example-container">
            <mat-form-field>
              <mat-label>Enter Course Name</mat-label>
              <input matInput placeholder="Course Name" formControlName="coursename" required>
              <mat-error *ngIf="UpdateCourseForm.controls['coursename'].hasError('required')">Course Name is required</mat-error>
            </mat-form-field>
          </div>

        <mat-form-field >
          <mat-label>Select Program Name</mat-label>
          <select matNativeControl required formControlName="programid">
            <option *ngFor="let program of _adminService.programs" value={{program.programid}}>{{program.trackname}}</option>
          </select>
          <mat-error *ngIf="UpdateCourseForm.controls['programid'].hasError('required')">Program Name is required</mat-error>
        </mat-form-field>
        


          <!--<div class="example-container">
            <mat-form-field>
              <mat-label>Enter Start Date</mat-label>
              <input matInput  placeholder="Start Date" formControlName="startdate" required>
              <mat-error *ngIf="UpdateCourseForm.controls['startdate'].hasError('required')">Start date is required</mat-error>
            </mat-form-field>
          </div>

          <div class="example-container">
            <mat-form-field>
              <mat-label>Enter End Date</mat-label>
              <input matInput placeholder="End Date" formControlName="enddate" required>
              <mat-error *ngIf="UpdateCourseForm.controls['enddate'].hasError('required')">End Date is required</mat-error>
            </mat-form-field>
          </div>-->

          
          <!--<div class="example-container">
            <label  style="background-color: lightgray;" >Upload Image</label>
            <input type="file" (change)="UploadImages($event)" style="margin-bottom: 20px;margin-left: 50px; " formControlName="imagepath">
          </div>-->
          <div class="example-container">
            <mat-form-field color="primary">
              <mat-label>Enter Start Date(MM/DD/YYYY)</mat-label>
              <input matInput [matDatepicker]="picker1" formControlName="startdate">
              <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1 color="primary"></mat-datepicker>
              <mat-error *ngIf="UpdateCourseForm.controls['startdate'].hasError('required')">Start date is required</mat-error>
            </mat-form-field>
            </div>

            <div class="example-container">
            <mat-form-field color="primary">
              <mat-label>Enter End Date(MM/DD/YYYY)</mat-label>
              <input matInput [matDatepicker]="picker2"  formControlName="enddate">
              <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2 color="primary"></mat-datepicker>
              <mat-error *ngIf="UpdateCourseForm.controls['enddate'].hasError('required')">End date is required</mat-error>
            </mat-form-field>
            </div>


          <div class="example-container">
            <mat-form-field>
              <mat-label>Enter Number of sections</mat-label>
              <input matInput placeholder="Course Name" formControlName="numberofsections" required>
              <mat-error *ngIf="UpdateCourseForm.controls['numberofsections'].hasError('required')">Number of sections is required</mat-error>
            </mat-form-field>
          </div>

          <div class="example-container">
            <mat-form-field>
              <mat-label>Enter Prerequisite</mat-label>
              <input matInput  placeholder="Course Name" formControlName="prerequisite" required>
              <mat-error *ngIf="UpdateCourseForm.controls['prerequisite'].hasError('required')">Prerequisite is required</mat-error>
            </mat-form-field>
          </div>
          <div  class="example-container">
            <input class="form-control" type="file" id="formFile" formControlName="imagepath" (change)="UploadImages($event)" style="width: 425px;margin-left:30px;">
          </div>
<section>
<div class="example-button-row"  >
<button style="margin-left: 150px; background-color: #1565C0;width: 150px; color: white;" mat-stroked-button  mat-dialog-close  type="submit" value="Update" (click)= UpdateCourse()>Update Course</button>
</div>
</section>
    

    </form>
</ng-template>